body{
    z-index: 1;
    color:rgb(69,69,69);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 100%);
}
main > section{
    /* height: 100%; */
    
}
#slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(file:///media/dell/Samsung%20USB/Studia/Semestr%20IV/Aplikacje%20Internetowe/final_project/src/img/effects/effects.jpg);
    /* background-image: url(file:///run/media/student/Samsung%20USB/Studia/Semestr%20IV/Aplikacje%20Internetowe/final_project/src/img/effects/effects.jpg); */
}
article{
    display: flex;
    /* align-items: center; */
    width: 100%;
    /* height: 100%; */
    box-shadow: inset 0 0 1px 5px rgb(238, 255, 0);
}
article p{
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 250%;
    padding : 5%;
    box-shadow: inset 0 0 1px 1px red;
}
.mini-slider{
    display: flex;
    z-index: -1;
    flex-wrap: nowrap;
    width: 40%;
    box-shadow: 0 0 1px 5px cyan;
}
.mini-slider img{
    display: none;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 1px 5px purple;
}
.mini-slider img:nth-child(1){
    display: flex;
    width: 100%;
    height: 100%;
}
#wah-wah{
    /* pass */
}
#wah-wah img:nth-child(1), #wah-wah img:nth-child(2){
    width: 50%;
    height: 40%;
}
#wah-wah img:nth-child(3){
    width: 100%;
    height: 60%;
}
#compersor img{
    width: 100%;
}
#fuzz{
    
}
#distortion{
    
}
#overdrive{
    
}
#pharser{
    
}
#flanger{
    
}
#chorus{
    
}
#tremolo{
    
}
#octaver{
    
}
#pitch{
    
}
#delay{
    
}
#reverb{
    
}
#effect-order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#effect-order img{
    order:2;
    height: 90%;
}
#effect-order h1{
    height: 10%;
    font-size: 270%;
    padding: 2% 0 0 0;

    box-shadow: inset 0 0 1px 1px red;
}