main > section{
    height: 100%;
}
#slider{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(file:///media/dell/Samsung%20USB/Studia/Semestr%20IV/Aplikacje%20Internetowe/final_project/src/img/effects/effects.jpg);
}