body{
    z-index: 1;
    color:rgb(69,69,69);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 100%);
}
main > section{
    /* height: 100%; */
    
}
#slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(file:///media/dell/Samsung%20USB/Studia/Semestr%20IV/Aplikacje%20Internetowe/final_project/src/img/effects/effects.jpg);
    /* background-image: url(file:///run/media/student/Samsung%20USB/Studia/Semestr%20IV/Aplikacje%20Internetowe/final_project/src/img/effects/effects.jpg); */
}
article{
    display: flex;
    width: 100%;
}
.effect-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59%;
    font-size: 250%;
    padding : 5%;
    z-index: 1;
    background-color: white;

}
.mini-slider{
    width: 40%;
    height: 100%;
    display: flex;
    z-index: 0;
    align-items:flex-end;
}
.mini-slider-able{
    animation: Switches 3s ease forwards;
}
.slider-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 10px 10px 1px grey;

}
.slider-counter li{
    width: 100%;
    margin: 115% 0;
    height: 25px;
    border-radius: 50px;
    box-shadow: 0 0 1px 1px black;
}
.active-mark{
    background-color: black;
}
.effect-img{
    width: 100%;
    height: 100%;
}
#wah-wah{
    /* pass */
}
#compersor img{
    width: 100%;
}
#fuzz{
    
}
#distortion{
    
}
#overdrive{
    
}
#pharser{
    
}
#flanger{
    
}
#chorus{
    
}
#tremolo{
    
}
#octaver{
    
}
#pitch{
    
}
#delay{
    
}
#reverb{
    
}
#effect-order{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#effect-order img{
    order:2;
    height: 90%;
}
#effect-order h1{
    height: 10%;
    font-size: 270%;
    padding: 2% 0 0 0;
}

@keyframes Switches{
    0%{
        filter:blur(10px);
    }
    /* 50%{
        filter: blur(10px);
    } */
    100%{
        filter: blur(0px);
    }
}